<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">



<div class="center-align">
  <img class="responsive-img" style="width: 250px;" />
  <div class="section"></div>

  <h5 class="indigo-text">Please, login into your account</h5>
  <div class="section"></div>

  <div class="container">
    <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
      <app-social-login></app-social-login>
      |
      <app-sign-in></app-sign-in>
    </div>
  </div>
  <a href="#!">Create account</a>
</div>

<div class="section"></div>
<div class="section"></div>

<!--jQuery reference -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>